<template>
    <v-app>
<!--        <menu-drawer>-->
<!--        </menu-drawer>-->
        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>

</template>

<script>
    // import MenuDrawer from "../components/MenuDrawer.vue";

    export default {
        // data() {
        //     return {
        //         outlets: []
        //     }
        // },
        // components: {MenuDrawer},

    }
</script>

<style scoped>

</style>