<template>
    <div class="background">
        <v-container>
            <v-container>
                <menu-drawer app class="leftMenu" :player-id="playerId"></menu-drawer>
            </v-container>
            <v-container>
                <v-row>

                    <v-col>
                        <v-content>
                            <log-line v-for="line in lines" :line="line"></log-line>
                        </v-content>
                        <v-container >
                            <action-list :actions="actions"
                                         :enemies="state.enemies"
                                         :next-state="nextState"
                                         :active="checkCondition"
                                         :save-enemy="saveEnemy"
                            >
                            </action-list>
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>
        </v-container>
    </div>
</template>

<script>
    import ActionList from "../components/ActionList.vue";
    import Logs from "../components/Logs.vue";
    import LogLine from "../components/LogLine.vue";
    import MenuDrawer from "../components/MenuDrawer.vue";

    export default {
        name: "MainPage",
        props: ["playerId"],
        components: {MenuDrawer, LogLine, Logs, ActionList},
        data() {
            return {
                actions: [], lines: [], state: {enemies:[]}, enemies: [], enemy: null,
            };
        },
        created() {
            //alert(this.playerId);
            this.$resource("/state").save(null).then(result => {
                result.json().then(data => {
                    this.actions = data.actions;
                    this.addLine(data.text);
                    this.state = data;
                    this.enemies = data.enemies
                });
            });
        },
        methods: {
            addLine(line) {
                this.lines.push(line);
            },
            checkCondition() {
                return this.enemies.length !== 0;
            },
            nextState(action) {
                let playerAction={
                    chosenAction: action,
                    actionObject: this.enemy,
                };

                this.$resource("/state").save(playerAction).then(result => {
                    result.json().then(data => {
                        this.actions = data.actions;
                        this.addLine(data.text);
                        this.enemies = data.enemies
                        this.state = data;
                    });
                });
            },
            saveEnemy(enemy) {
                this.enemy = enemy.id;
            }
        }
    }
</script>

<style scoped>
    .background {
        /*background: url(https://img2.akspic.ru/image/108986-korichnevyj_cvet-poster-tkan-holst-pergament-1280x720.jpg) no-repeat;*/
        /*background-size: cover;*/
        /*height: 100%;*/
        /*width: 100%;*/
    }
    .leftMenu{
        /*background-color: gold;*/
        background: url(https://images.wallpaperscraft.ru/image/fon_pyatna_svetlyy_69134_2560x1600.jpg) no-repeat;
        height: 100%;
        width: 100%;
    }

</style>