<template>
    <div class="background">
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{on}">
                <v-btn id="10" class="profileButton" color="green" dark v-on="on">Заполнить анкету</v-btn>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Анкета авантюриста</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="auto">
                                <v-text-field label="Имя" v-model="name" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12">
                                <v-row>
                                    <v-col>
                                        <p>Свободные очки:</p>
                                    </v-col>
                                    <v-col>
                                        {{freePoints}}
                                    </v-col>
                                </v-row>
                                <v-row v-for="(attr, index) in attributes" :attr="attr">
                                    <v-col>
                                        <p>{{attr.name}}:</p>
                                    </v-col>
                                    <v-col>
                                        <v-icon @click="charDown(index)">mdi-minus</v-icon>
                                    </v-col>
                                    <v-col>
                                        {{attr.value}}
                                    </v-col>
                                    <v-col>
                                        <v-icon @click="charUp(index)">mdi-plus</v-icon>
                                    </v-col>
                                </v-row>

                            </v-col>
                        </v-row>
                    </v-container>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red" text @click="dialog = false">Да чет ну нафиг эти подземелья</v-btn>
                    <v-btn color="green" text :disabled="!name || name.length===0" @click="setPlayer"
                    >Готово
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        data (){
            return {
                dialog: false,
                name: "",
                freePoints: 10,
                player: null,
                attributes: [
                    {name: "HP", value: 0},
                    {name: "POWER", value: 0},
                ],
                // attributeNames: ["HP", "POWER"],
                power: 0,
                hp: 0,
                //characteristics: [],
                links: [
                    {icon: "", text: "Готово", route: "/game"},
                ],
            }
        },
        created() {
            this.$resource("/player").get({"player": 4}).then(result => {
                result.json().then(data => {
                    this.player = data;
            //         // this.attributes = [];
                    this.attributes[0].value = data.hp;
                    this.attributes[1].value = data.power;
            //
                });
            });
        },

        methods: {
            setPlayer() {
                let player = {
                    name: this.name,
                    hp: this.attributes[0].value,
                    power: this.attributes[1].value,
                }
                this.$resource("/player").save(player).then(result => {
                    result.json().then(data => {
                        this.$router.push({path: "/game", query: {playerId: data.id}});
                    });
                });
            },
            charUp(index) {
                if (this.freePoints !== 0) {
                    this.freePoints--;
                    this.attributes[index].value++;
                }
            },
            charDown(index) {
                if (this.attributes[index].value !== 1) {
                    this.freePoints++;
                    this.attributes[index].value--;
                }
            },
        },
    }
</script>


<style scoped>
    .profileButton {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .background {
        background: url(https://images8.alphacoders.com/375/375269.jpg) no-repeat;
        height: 100%;

    }

</style>