<template>
    <v-container>
        <v-footer class="actionPanel"
        >
            <v-overflow-btn v-if="enemies.length !== 0"
                            class="mx-5"
                            :items="enemies.map(e => e.name)"
                            @change="selectEnemy"
                            v-model="enemy"

            ></v-overflow-btn>

            <v-btn outlined large  v-for="(action, id) in actions" class="mx-auto"

                   @click="choice(id)">
                {{action}}
            </v-btn>
        </v-footer>
    </v-container>
</template>

<script>
    export default {
        name: "ActionList",

        data() {
            return {
                enemy: ''
            }
        },
        props: ["actions", "nextState", "enemies", "saveEnemy"],
        methods: {
            choice(id) {
                this.nextState(this.actions[id]);
            },
            selectEnemy() {
                const enemy = this.enemies.filter(e => e.name === this.enemy)[0]
                this.saveEnemy(enemy)
            }
        }
    }

</script>

<style scoped>
    .actionPanel {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        /*display: flex;*/
        /*background: transparent;*/
        background: url(https://images.wallpaperscraft.ru/image/fon_seryj_abstraktsiya_svetlyj_95691_1920x1080.jpg) no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
    }
</style>