<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" width="600px">
            <template v-slot:activator="{ on }">
                <!--                <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>-->
                <v-list-item link v-on="on">
                    <v-list-item-action>
                        <v-icon>mdi-arm-flex</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Характеристики</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Вот Ваши характеристики</span>
                </v-card-title>
                <v-card-text>
                    <v-col>
                        maxHP={{player.hp}}

                    </v-col>
                    <v-col>
                        Power={{player.power}}
                    </v-col>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <!--                    <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>-->
                    <v-btn color="green darken-1" text @click="dialog = false">Понятненько</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    export default {
        name: "Characteristics",
        props: ["player"],
        data() {
            return {dialog: false};
        },

    }

</script>

<style scoped>

</style>