<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" width="600px">
            <template v-slot:activator="{ on }">
                <v-list-item link v-on="on">
                    <v-list-item-action>
                        <v-icon >{{link.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{link.text}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Уверены, что хотите выйти?</span>
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog = false">Нет</v-btn>
                    <v-btn color="red darken-1" text :to="link.route">ДА</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    export default {
        name: "Exit",
        data() {
            return {
                dialog: false,
                link:
                    {icon: "mdi-home", text: "Выход", route: "/"},
            };
        },

    }

</script>

<style scoped>

</style>