<template>
    <v-list-item>
        <v-list-item-content>
            <v-list-item-title class="text-left">{{line}}</v-list-item-title>
        </v-list-item-content>
    </v-list-item>
</template>

<script>
    export default {
        name: "LogLine",
        props: ['line']
    }
</script>

<style scoped>


</style>