<template>

    <v-list>

    </v-list>

</template>

<script>
    export default {
        name: "Logs",
        data() {
            return {lines: []}
        },

    }
</script>

<style scoped>

</style>