<template>
    <v-navigation-drawer app expand-on-hover >
        <v-list>
            <v-list-item >
                <v-list-item-content>
                    <v-list-item-title class="title text-center">{{player.name}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list class="text-left"
                nav
                dense
        >
            <characteristics :player="player"></characteristics>
            <inventory></inventory>
            <exit></exit>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import Inventory from "./Inventory.vue";
    import Characteristics from "./Characteristics.vue";
    import Exit from "./Exit.vue";

    export default {
        name: "MenuDrawer",
        components: {Inventory, Characteristics, Exit},
        props: ["playerId"],
        data() {
            return {
                player: "",
                drawer: true
            };
        },
        methods: {

        },
        created() {
            this.$resource("/player").get({"player":this.playerId}).then(result => {
                result.json().then(data => {
                    this.player = data;
                });
            });
        },
    }
</script>

<style scoped>

</style>